<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$Think.config.TITLE}</title>

    <script src="{$Think.config.PUBLIC}/Admin/js/jquery-1.8.1.min.js" ></script>
    <script src="{$Think.config.PUBLIC}/Admin/js/other.js" ></script>
    <link href="{$Think.config.PUBLIC}/Admin/css/style.css" rel="stylesheet" type="text/css" />
</head>
