{include file="Public/header"/}
{include file="Public/navibar"/}
{include file="Public/sidebar"/}

<!--- START 以上内容不需更改，保证该TPL页内的标签匹配即可 --->

{include file="Public/message"/}

<div class="wz_qxgl_xl">
    <select name="group_id" onchange="javascript:location.replace('group_role.html?group_id='+this.options[this.selectedIndex].value)" style="margin:5px 0px 0px">
        {php}
            $group_id="";
            if(isset($_GET['group_id'])){
                $group_id=$_GET['group_id'];
            }
            foreach($group_option_list as $key=>$v){
               if($key==$group_id){
                echo '<option value="'.$key.'" selected>'.$v.'</option>';
                }else{
                echo '<option value="'.$key.'">'.$v.'</option>';
                }
            }
            {/php}
    </select>
</div>
<form method="post" action="">
    <div class="wz_qxgl_nr">
        {foreach name="role_list" item="role"}
        {if condition="count($role['menu_info']) gt 0"}
        <table width="399" border="0" cellspacing="0" cellpadding="0" class="wz_qxgl_nr_xx">
            <tr>
                <td height="50" colspan="3" valign="top"><div class="wz_qxgl_nr_xx_bt">{$role.module_name}</div></td>
            </tr>
            <tr id="page-stats_{$role.module_id}" class="block-body collapse in">
                <td width="133" height="40">
                    {php}
                        foreach($role['menu_info'] as $k=>$val){
                        if(in_array($k,$group_role)){
                        echo '<label style="display: inline-block;font-size: 12px;width: 180px"><input type="checkbox" name="menu_ids[]" value="'.$k.'" checked="checked">'.$val.'</label>&nbsp;&nbsp;';
                        }else{
                        echo '<label style="display: inline-block;font-size: 12px;width: 180px"><input type="checkbox" name="menu_ids[]" value="'.$k.'" >'.$val.'</label>&nbsp;&nbsp;';
                        }
                        }
                    {/php}
                </td>
            </tr>
        </table>
        {/if}
        {/foreach}
    </div>

    <div class="wz_qxgl_menu">
        <input name="" type="submit" value="确定" />
    </div>
</form>
</div>
</div>

{include file="Public/footer"/}