
{include file="Public/header"/}
{include file="Public/navibar"/}
{include file="Public/sidebar"/}

<!--- START 以上内容不需更改，保证该TPL页内的标签匹配即可 --->

{include file="Public/message"/}
<div class="btn-toolbar" style="margin-bottom:2px;">
    <a data-toggle="collapse" data-target="#search"  href="#" title= "检索"><button class="btn btn-primary" style="margin-left:5px"><i class="icon-search"></i></button></a>
</div>
    <div class="block">
        <div id="page-stats" class="block-body collapse in">
            <table width="855" border="0" cellspacing="0" cellpadding="0" class="cpgl_cplb_bt">
                <tr>
                    <td width="60" height="60" align="center">#</td>
                    <td width="111" align="center">用户名</td>
                    <td width="111" align="center">真名</td>
                    <td width="124" align="center">手机</td>
                    <td width="109" align="center">登录时间</td>
                    <td width="100" align="center">登录IP</td>
                    <td width="100" align="center">Group#</td>
                    <td width="100" align="center">操作</td>
                </tr>
            </table>
                {foreach name="user_infos" item="user_info"}
                    <table width="855" border="0" cellspacing="0" cellpadding="0" class="cpgl_cplb_nr">
                <tr>
                    <td width="60" align="center">{$user_info.user_id}</td>
                    <td width="111" align="center">{$user_info.user_name}</td>
                    <td width="124" align="center">{$user_info.real_name}</td>
                    <td width="100" align="center">{$user_info.mobile}</td>
                    <td width="100" align="center">{$user_info.login_time|date="Y-m-d",###}</td>
                    <td width="100" align="center">{$user_info.login_ip}</td>
                    <td width="100" align="center">{$user_info.group_name}</td>
                    <td width="100" align="center">
                        <a href="{:url('User/edit',array('user_id'=>$user_info['user_id']))}" title= "修改" >修改</a>
                        &nbsp;
                        {if condition="$user_info['user_id'] neq 1"}
                        <a data-toggle="modal" href="#myModal" title= "删除" >
                            <i class="icon-remove" goto="{:url('User/del',array('user_id'=>$user_info['user_id']))}" >删除</i></a>
                        {/if}
                    </td>
                </tr>
                        </table>
                {/foreach}
            <!--- START 分页模板 --->
            {$page_html}

            <!--- END --->
        </div>
    </div>

<!--- END 以下内容不需更改，请保证该TPL页内的标签匹配即可 --->
{include file="Public/footer"/}